a{
    text-decoration: none;
    color: brown;
}
h3
{
    color: blue;
}
#1
{
    color: greenyellow;
}
#ph
{
    color: chartreuse;
}
.heaven
{
    color: greenyellow;
    margin: 5% 50% 5% 30%;
}
.bruh
{color: brown;
    margin: 5%,50%,5%,30%;
}